<div class="uk-section-xsmall blue_bg">
  <div class="uk-text-center white">
    Copyright &copy; <% if Date.today.year > 2020%>2020 - <% end %><%= Date.today.year %> <%= @site_title %>. All rights reserved.
  </div>
</div>