<div class="uk-section-xsmall uk-section-default uk-box-shadow-small uk-margin blue_bg" uk-sticky="show-on-up: true; animation: uk-aimation-slide-top;">
  <div class="uk-container uk-container-expand">
    <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
      <div class="uk-navbar-left white"><a href="#offcanvas-nav" uk-icon="icon: menu" uk-toggle></a></div>
      <div class="uk-navbar-center white"><span class="uk-margin-small-right" uk-icon="icon: reddit"></span> <%= @site_title %></div>
    </nav>
  </div>
</div>