<ul class="uk-breadcrumb">
  <li><%= link_to "Home", main_index_path %></li>
  <li><%= link_to @category.name, main_category_path(category_name: @category.en_name) %></li>
  <li><span><%= @sub_category.name %></span></li>
</ul>

<div class="uk-grid-match uk-grid uk-text-center uk-margin list" uk-grid>
  <% @sub_category.reports.each do |report| -%>
  <div class="uk-width-1-3@m">
    <%= grid_contents(report) %>
  </div>
  <% end -%>
</div>