<ul class="uk-breadcrumb">
  <li><%= link_to "List", admin_sub_categories_path %></li>
  <li>Edit</li>
</ul>

<div class="uk-card uk-card-default uk-card-body">
  <%= form_with(model: @sub_category, url: admin_sub_category_path(@sub_category), local: true) do |form| %>
    <%= render partial: "form", locals: {form: form} %>
  <% end %>
</div>