$red:#AD3900;
$blue: #241C58;
$green: #006D10;
$light_green: #728802;
$orange: #FF5722;
$purple: #9C27B0;
$grey: #9E9E9E;
$brown: #795548;
$black: #241C58;
$white: #FFF;

.red {
  color: $red !important;
}
.red_bg {
  background-color: $red !important;
}
.red_border {
  border-color: $red !important;
}

.blue {
  color: $blue !important;
}
.blue_bg {
  background-color: $blue !important;
}
.blue_border {
  border-color: $blue !important;
}

.green {
  color: $green !important;
}
.green_bg {
  background-color: $green !important;
}
.green_border {
  border-color: $green !important;
}

.light_green {
  color: $light_green !important;
}
.light_green_bg {
  background-color: $light_green !important;
}
.light_green_border {
  border-color: $light_green !important;
}

.orange {
  color: $orange !important;
}
.orange_bg {
  background-color: $orange !important;
}
.orange_border {
  border-color: $orange !important;
}

.purple {
  color: $purple !important;
}
.purple_bg {
  background-color: $purple;
}
.purple_border {
  border-color: $purple !important;
}

.grey {
  color: $grey !important;
}
.grey_bg {
  background-color: $grey !important;
}
.grey_border {
  border-color: $grey !important;
}

.brown {
  color: $brown !important;
}
.brown_bg {
  background-color: $brown !important;
}
.brown_border {
  border-color: $brown !important;
}

.black {
  color: $black !important;
}
.black_bg {
  background-color: $black !important;
}
.black_border {
  border-color: $black !important;
}

.white {
  color: $white !important;
}
.white_bg {
  background-color: $white !important;
}
.white_border {
  border-color: $white !important;
}