pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

#notice {
  color: green; }


#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block; 
}

.check_box label {
  display: inline; 
  padding-right: 10px;
}