<ul class="uk-breadcrumb">
  <li><%= link_to "List", admin_categories_path %></li>
  <li>New</li>
</ul>

<div class="uk-card uk-card-default uk-card-body">
  <%= form_with(model: @category, url: admin_categories_path, local: true) do |form| %>
    <%= render partial: "form", locals: {form: form} %>
  <% end %>
</div>