<ul class="uk-breadcrumb">
  <li><%= link_to "List", admin_reports_path %></li>
  <li>Edit</li>
</ul>

<nav class="uk-navbar-container" uk-navbar>
  <div class="uk-navbar-left">
    <ul class="uk-navbar-nav">
      <li><%= link_to 'Destroy', admin_report_path(@report), method: :delete, data: { confirm: 'Are you sure?' } %></li>
    </ul>
  </div>
</nav>

<div class="uk-card uk-card-default uk-card-body">
  <%= form_with(model: @report, url: admin_report_path(@report), local: true) do |form| %>
    <%= render partial: "form", locals: {form: form} %>
  <% end %>
</div>