<ul class="uk-breadcrumb">
  <li><%= link_to "List", admin_reports_path %></li>
  <li>Show</li>
</ul>

<p id="notice"><%= notice %></p>

<nav class="uk-navbar-container" uk-navbar>
  <div class="uk-navbar-left">
    <ul class="uk-navbar-nav">
      <li><%= link_to 'Edit', edit_admin_report_path(@report) %></li>
    </ul>
  </div>
</nav>

<table class="uk-table uk-table-divider">
  <tr>
    <th>Code</th>
    <td><%= @report.code %></td>
  </tr>
</table>