<ul class="uk-breadcrumb">
  <li>List</li>
</ul>

<p id="notice"><%= notice %></p>

<nav class="uk-navbar-container" uk-navbar>
  <div class="uk-navbar-left">
    <ul class="uk-navbar-nav">
      <li><%= link_to 'New Image', new_admin_image_path %></li>
    </ul>
  </div>
</nav>

<ul class="uk-thumbnav uk-margin" uk-margin>
  <% @images.each do |image| %>
    <li class="uk-active" uk-tooltip="<%= image.name %>"><%= link_to (image_tag(show_image_path(image.code), {width: "100"})), admin_image_path(image.code) %></li>
  <% end %>
</ul>
